<h2>Chart Type: {{chartType}} </h2>
<hr>

    <nvd3-line-plus-bar-chart
            data="exampleData"
            id="healthTrend"
            xAxisTickFormat="xAxisTickFormat()"
            y1AxisTickFormat="y1AxisTickFormat()"
            y2AxisTickFormat="y2AxisTickFormat()"
            margin="{left:75,top:30,bottom:30,right:10}"
            xAxisRotateLabels="75"
            tooltips="true"
	          interactive="true"
			      showLegend="true"
            forcey="0"
            width="1200"
	          height="500">
     </nvd3-line-plus-bar-chart>
