<h2>Chart Type: {{chartType}} </h2>
<hr>

<div>
<h4> Chart Parameters </h4>
<br>



Affiliate:
<select  ng-model="chartParameters.affiliateID"
        ng-options="a.orgId as a.name for a in affiliates"
         ng-change="updateData()">
         <option value="">-- choose an affiliate --</option>
</select>
<br>
Date Range: Date Controls here
<br>
Date Filter: <select ng-model="chartParameters.dateScope"
                          ng-options="d.value as d.name for d in dateAggregationOptions"
                          mg-change= "updateDate()">
                          <option value="">-- choose a date filter --</option>
</select>


</div>

<nvd3-line-plus-bar-chart
            data="leaseData"
            id="healthTrend"
            xAxisTickFormat="xAxisTickFormat()"
            y1AxisTickFormat="y1AxisTickFormat()"
            y2AxisTickFormat="y2AxisTickFormat()"
            margin="{left:75,top:30,bottom:30,right:10}"
            xAxisRotateLabels="75"
            tooltips="true"
         interactive="true"
     showLegend="true"
            forcey="0"
            width="1200"
         height="500">
</nvd3-line-plus-bar-chart>
