<h2>Chart Type: {{chartType}} </h2>
<hr>

<div id="dateControls" ng-cloak>
  <div class="row">
    <div class="col-md-1">
      <label>From:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="chartParameters.dtFrom" is-open="openedFrom" max="'2500-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button class="btn btn-info" ng-click="open($event, 'openedFrom')" title="Select date"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-1">
      <label>To:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="chartParameters.dtTo" is-open="openedTo" max="'2500-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button class="btn btn-info" ng-click="open($event, 'openedTo')" title="Select date"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-md-1">
      <label>Format:</label>
    </div>
    <div class="col-md-3">
      <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
    </div>
  <div class="col-md-1">
    <label>Affiliate:</label>
  </div>
  <div class="col-md-3">
     <select  class="form-control" auto-width="true" ng-model="chartParameters.affiliateID" ng-options="a.orgId as a.name for a in affiliates">
       <option value="">-- choose an affiliate --</option>
     </select>
  </div>
</div>
<br>
<br>
<br>
<br>


<nvd3-line-plus-bar-chart
            data="leaseData"
            id="healthTrend"
            xAxisTickFormat="xAxisTickFormat()"
            y1AxisTickFormat="y1AxisTickFormat()"
            y2AxisTickFormat="y2AxisTickFormat()"
            margin="{left:75,top:30,bottom:30,right:10}"
            xAxisRotateLabels="90"
            tooltips="true"
            interactive="true"
            showLegend="true"
            forcey="0"
            width="1200"
            height="800">
</nvd3-line-plus-bar-chart>
